<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/users/add_user" class="btn btn-secondary">Add User</a>
<br>
<br>
<a href="/files/showfiles" class="btn btn-secondary">Files List</a>

<br>
<br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
