<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= email %></p>
<a href="/files/upload" class="btn btn-secondary">Upload Documents</a>
<br>
<br>
<a href="/users/createpassword" class="btn btn-secondary">update your password</a>
<br>
<br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
